  <!-- Site footer -->
  <footer class="site-footer">
   
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 by Ngô Công Long | 18PFIEV3 DUT
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/nclongkk/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="github" href="https://github.com/nclongkk"><i class="fa fa-github"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>