</div>
<footer class="footer fixed-bottom bg-dark">
  <div class="container">
    <div class="row m-auto">
      <div class="col-md-10">
        <p class="text-light pt-2">Copyright &copy; <span id=year></span> by Ngô Công Long | 18PFIEV3 DUT</p>
      </div>
      <div class="col-md-2">
        <ul class="social-icons">
          <div class="container">
            <div class="row text-center" id="social-icons" style="margin-top: 8px;">
              <li><a class="facebook" href="https://www.facebook.com/nclongkk/"><i class="fa fa-facebook"></i></a></li>
              <li><a class="github" href="https://github.com/nclongkk"><i class="fa fa-github"></i></a></li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script>
  $('#year').text(new Date().getFullYear());
</script>
</html>