<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Ngô Công Long  18PFIEV3-DUT</p>
    <p>Quê quán: Đức Thạnh, Mộ Đức, QUảng Ngãi</p>
    <p>Độc thân (ế)</p>
<%- include("partials/footer"); -%>
